{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<!-- <div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h2 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
    </h2>
    
    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}

        {% if post.collection == 'teaching' %}
          <p> {{ post.type }}, <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.collection == 'publications' %}
          <p>Published in <i>{{ post.venue }}</i>, {{ post.date | default: "1900-01-01" | date: "%Y" }} </p>
        {% elsif post.date %}
         <p class="page__date"><strong><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }}</strong> <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
        {% endif %}

    {% if post.excerpt and site.read_more != 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% elsif post.excerpt and site.read_more == 'enabled' %}
    <p class="archive__item-excerpt" itemprop="description"><p>{{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}<strong><a href="{{ base_path }}{{ post.url }}" rel="permalink"> Read more</a></strong></p></p>
    {% endif %}
    
    {% if post.citation and post.paperurl %}
      <p>Recommended citation: {{ post.citation }} <a href="{{ post.paperurl }}">{{ post.paperurl }}</a></p>
    {% elsif post.citation %}
      <p>Recommended citation: {{ post.citation }} </p>
    {% elsif post.paperurl %}
      <p class="wordwrap">Download <a href=" {{ post.paperurl }} ">here</a></p>
    {% endif %}

  </article>
</div> -->

<div class="{{ include.type | default: "list" }}__item" style="display: flex; align-items: flex-start; max-width: 100%; margin-top: 20px; margin-bottom: 20px;" >
  <!-- Check if there's a teaser image and set up the container -->
  {% if teaser %}
    <div class="archive__item-teaser" style="width: 350px; flex-shrink: 0; margin-right: 20px;"> <!-- Adjust the width as needed -->
      <img src=
        {% if teaser contains "://" %}
          "{{ teaser }}"
        {% else %}
          "{{ teaser | prepend: '/images/' | prepend: base_path }}"
        {% endif %}
        alt="" style="width: 100%; height: auto;"> <!-- This ensures the image scales within the container -->
    </div>
  {% endif %}

   <!-- Information about the paper -->
   <div style="flex-grow: 1; max-width: 600px;"> <!-- Adjust the max-width as needed -->
    <h3 class="archive__item-title" itemprop="headline">
      <!-- {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> 
        <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %} -->
      {% if post.link %}
        <a href="{{ post.link }}" title="{{ post.title }}">{{ post.title }}</a>
      {% else %}
        {{ post.title }}
      {% endif %}
    </h3>

    <p class="archive__item-authors" style="margin: 0; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">{{ post.authors }}</p>
    <p class="archive__item-venue-year" style="margin: 0;">{{ post.venue }}, {{ post.date | date: "%Y" }}</p>

    {% if post.read_time %}
      <p class="page__meta"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</p>
    {% endif %}
    <!-- {% if post.venue %}
      <p class="archive__item-excerpt" itemprop="description">{{ post.citation }}</p>
    {% endif %} -->
    
    <div style="margin: 0;">
      {% if post.paperurl %}
        <a href="{{ site.baseurl }}{{ post.paperurl }}" style="margin-right: 10px;">Paper</a>
      {% endif %}
      {% if post.posterlink %}
        <a href="{{ post.posterlink }}" style="margin-right: 10px;">Poster</a>
      {% endif %}
      {% if post.slideslink %}
        <a href="{{ post.slideslink }}" style="margin-right: 10px;">Slides</a>
      {% endif %}
      {% if post.codelink %}
        <a href="{{ post.codelink }}">Code</a>
      {% endif %}
    </div>

   </div>


</div>
